body{
  padding: 5px;
  font-family:Caveat;
   background-color:Lightyellow;}
.title {
	color: #FF0000;
	font-family:tahoma;
}
.ScripsC{
	Margin-left:500px;
	font-family:Caveat;
}
ScripsC{
	Margin-left:660px;
	font-family:Caveat;
}
div {margin-left:30px;
font-family:Caveat;
height:120px
}
a {
	font-family:Caveat;
}
