body{
  margin:0;
  padding:0;
}

div ul {
	height:140px;
	width: 540px;
	float:right;
	
}
ul li{
	display:inline-table;
	float:left;
	
}
ul li a {
	text-decoration:none;
	color:white;
	height:16px;
	width: 70px;
	text-align:center;
	font-size:16px;	
	display:block;
	text-decoration:none;
	padding:18px 18px;
	background-color:black;
	border-radius: 0px 40px 0px 40px;
	Margin-top:20px;
	box-shadow: 0 4px 10px #333;
	transform: rotate(-27deg);
	transition: all 0.5s linear;
}
ul li a:hover {
	margin-top:0;
	background:yellow;
	color: black;
}
ul li a:onclick {
	margin-top:0;
	background:yellow;
	color: black;
}

iframe {
	height:820px;
	width:100%;
	display: block;
	border:2px solid #333;
	border-radius: 12px; 
	box-shadow: 0 4px 10px #333;
	transition: all 0.5s linear;
}
#clock {
	border:0px 0px 2px 0px;
}
div.clock {
	border-radius: 12px; 
	box-shadow: 0 4px 10px #333;
}