body{
  padding: 25px;
  font-family:Caveat;
	height:1000px;
}
.title {
	color: #ffffff;
	font-family:Caveat;
}
.ScripsC{
	Margin-left:500px;
	font-family:Caveat;
}
ScripsC{
	Margin-left:700px;
	font-family:Caveat;
}
div {margin-left:150px;
font-family:Caveat;

}
